[submodule "3rd/logfault"]
	path = 3rd/logfault
	url = https://github.com/jgaa/logfault.git
[submodule "3rd/rapidjson"]
	path = 3rd/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rd/libsodium"]
	path = 3rd/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "3rd/loguru"]
	path = 3rd/loguru
	url = https://github.com/emilk/loguru.git
[submodule "3rd/glog"]
	path = 3rd/glog
	url = https://github.com/google/glog.git
[submodule "3rd/gflags"]
	path = 3rd/gflags
	url = https://github.com/gflags/gflags
